:root {
  --fail: #ff4500;
  --success: #77fe00;
}

@mixin shadowAnimation($type) {
  @keyframes #{$type} {
    0% {
      @if $type == fail {box-shadow: inset 0 0 7px -4px var(--fail);}
      @else {box-shadow: inset 0 0 7px -4px var(--success);}
    }

    100% {
      @if $type == fail {box-shadow: inset 0 -10px 7px -4px var(--fail);}
      @else {box-shadow: inset 0 -10px 7px -4px var(--success);}
    }
  }
  animation: #{$type} 2s ease;
  @if $type == fail {box-shadow: inset 0 -10px 7px -4px var(--fail);}
  @else {box-shadow: inset 0 -10px 7px -4px var(--success);}
}