@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'fonts';
@import 'keyframes';

body {
  min-width: 992px;
  max-width: 1340px;
  margin: 0 auto;
  background: linear-gradient(-45deg, #9ae7bb, #ace4ea, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: 'Rubik', sans-serif;
}

header {
  .btn {
    line-height: 0.5rem;
  }
}

main {
  background: transparent;
  .puzzle-complete__item {
    font-weight: 500;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}

button:active,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn:hover {
  color: theme-color('info');
  background: #fff;
}

.puzzle-complete {
  background: url('../assets/images/1.jpg') no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;

  .puzzle-complete__item {
    line-height: 50px;
    overflow: hidden;
    height: 50px;
    border-bottom: 1px solid black;
    background: rgba(0, 0, 0, 0.2);
  }
}

.puzzle-quiz {
  
  .puzzle-quiz__item {
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid black;
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    text-transform: uppercase;
    
    span {
      padding: 0 5px;
      display: inline-block;
      box-shadow: 1px 0 1px #fff;
      user-select: none;
      cursor: grab;
      
      &:active {
        cursor: grabbing;
      }
    }
  }
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
}

#particles-js {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
