@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'fonts';
@import 'keyframes';
@import "mixins";

body {
  font-family: 'Rubik', sans-serif;
  min-width: 992px;
  max-width: 1340px;
  margin: 0 auto;
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #9AE7BB, #ACE4EA, #23A6D5, #23D5AB);
  background-size: 400% 400%;
}

header {
  .btn {
    line-height: 0.5rem;
  }
}

main {
  background: transparent;

  .puzzle-complete__item {
    font-weight: 500;
    color: rgba(21, 86, 129, 1.000);
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
  }
}

button:active,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn:hover {
  color: theme-color('info');
  background: #FFF;
}

.puzzle-complete {
  background: #00467F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  .puzzle-complete__item {
    line-height: 50px;
    z-index: 1;
    height: 50px;
    transition: 200ms;
    border-bottom: 1px solid black;
    background: rgba(0, 0, 0, 0.2);

    .wrong {
      @include shadowAnimation(fail);
    }
    
    .correct {
      @include shadowAnimation(success);
    }
  }

  .active-row {
    transition: 200ms;
    position: relative;
    
    &:before {
      content: '\2726';
      display: block;
      font-size: 30px;
      position: absolute;
      left: -12px;
      color: greenyellow;
      animation: skew 2s infinite;
      z-index: 2;
      
    }
  }
}

.puzzle-quiz {
  .puzzle-quiz__item {
    line-height: 50px;
    box-sizing: content-box;
    height: 50px;
    //border-bottom: 1px solid black;
    text-transform: uppercase;
    color: #FFF;
    background: rgba(0, 0, 0, 0.4);
  }
}

.word {
  display: inline-block;
  padding: 0 5px;
  cursor: grab;
  user-select: none;
  transition: 150ms;
  outline: 1px white solid;
  text-align: center;
  animation: glow 600ms;

  &:active {
    cursor: grabbing;
  }

  &:hover {
    background: rgba(171, 227, 234, 0.5);
  }
}

.moveWord {
  background: #FFF;
  color: #000;
  
  &:hover {
    background: #FFF;
    color: #000;
  }
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
}

#particles-js {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
