<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="p-4">
  <div id="particles-js"></div>
    <header class="mainWrapper container-fluid p-3">
      <div class="row justify-content-between">
        <div class="col-3 levels">
          <select class="form-control"> </select>
        </div>
        <div class="col-3 rounds">
          <select class="form-control"> </select>
        </div>
        <button type="button" class="btn btn-light play col-1">
          PLAY
        </button>
        <div class="col-3 align-self-center text-right">
          <button type="button" class="btn btn-outline-light">
            <span class="icon-volume-medium"></span>
          </button>
          <button type="button" class="btn btn-outline-light">
            <span class="icon-music"></span>
          </button>
          <button type="button" class="btn btn-outline-light">
            <span class="icon-image"></span>
          </button>
          <button type="button" class="btn btn-outline-light">
            <span class="icon-translate"></span>
          </button>
        </div>
      </div>
      <hr />
      <div class="row translation mt-3 mb-3 text-center align-self-center">
        <div class="col-12">
          <button type="button" class="btn btn-outline-light">
            <span class="icon-volume-medium"></span>
          </button>
        </div>
        <div class="col-12 translation__text mt-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, illum.
        </div>
      </div>
    </header>
    <main class="container-fluid p-4">
      <section class="puzzle-complete row text-center"></section>
      <section class="row puzzle-quiz text-center mt-4 justify-content-center">
        <div class="puzzle-quiz__item col-12">
          HELLO
        </div>
        <button type="button" class="btn btn-outline-light m-4 text-center">
          I DON'T KNOW
        </button>
      </section>
      <canvas class="background"></canvas>
    </main>
  </body>
</html>
